__pycache__/
test/
config/settings_user.json
config/ImageList*.json
build/
dist/
gui/vm.tar
data/*
!data/.gitkeep

excel/*
!excel/.gitkeep

annotations/*
!annotations/.gitkeep

output/*
!output/.gitkeep

.venv
.idea
.vscode
.pytest_cache
.DS_Store
.env
