
__pycache__/Utilities.cpython-310.pyc
__pycache__/Slideshow.cpython-310.pyc
__pycache__/Settings.cpython-310.pyc
__pycache__/MainFrame.cpython-310.pyc
__pycache__/ImageFrame.cpython-310.pyc
tempCodeRunnerFile.py
__pycache__/Utilities.cpython-310.pyc
__pycache__/Slideshow.cpython-310.pyc
__pycache__/Settings.cpython-310.pyc
__pycache__/MainFrame.cpython-310.pyc
__pycache__/ImageFrame.cpython-310.pyc
*.pyc
*.pyc
*.pyc
