numpy<2.0.0
stardist==0.9.1
tensorflow==2.19.0
ttkbootstrap==1.12.0
bs4==0.0.2
pandas==2.2.3
openpyxl==3.1.5
opencv-python
# If using a Raspberry Pi and want PiCamera2 support, see the README for instructions.